//- include ../tag/tag
include ../card/card

mixin container(product)
	+b.container&attributes(attributes)
		+card(product)
		+e('input').input(type='checkbox' id=product.id )
		div= product.footerText.selected
		div= product.footerText.disabled

