main-theme = #1698d9
main-theme-hover = lighten(desaturate(main-theme, 3), 7) //  #2ea8e6
main-theme-disabled = #b3b3b3
main-theme-selected = #d91667
main-theme-selected-hover = lighten(desaturate(main-theme-selected, 3), 7) // #e62e7a

disabled-theme = #b3b3b3

.card
	position relative
	padding 24px 50px 50px
	display block
	width 320px
	height 480px
	font-family 'Trebuchet MS'
	color #000000
	background-image url('../images/cat.png'), linear-gradient(135deg, transparent 5%, #f2f2f2 0)
	background-repeat no-repeat
	background-position: calc(100%) calc(100%)
	border-radius 0 10px 10px 10px
	// flex-basis 350px

	&_enabled
		cursor pointer

	&_disabled
		cursor default
		color disabled-theme
		background-image linear-gradient(135deg, transparent 5%, rgba(242, 242, 242, .5) 0), url('../images/cat.png'), linear-gradient(135deg, transparent 5%, #f2f2f2 0)

	&__slogan
		display block
		font-size 16px
		font-weight 400
		color #666666

		^[0]_disabled &
			color inherit

		^[0]_selected_hover &
			display none

	&__question
		display none
		color main-theme-selected-hover

		^[0]_selected_hover &
			display block

	&__name
		margin-top 15px
		margin-bottom 3px
		font-size 48px
		font-weight 700

		^[0]_disabled &
			color inherit

	&__taste
		margin-bottom 15px
		font-size 24px
		font-weight 700

		^[0]_disabled &
			color inherit

	&__description
		font-size 14px
		font-weight 400
		line-height 16px
		color #666666


		^[0]_disabled &
			color inherit

		span
			font-weight 700

	&__tag
		position absolute
		right 15px
		bottom 15px
		display flex
		align-items center
		justify-content center
		flex-direction column
		width 80px
		height 80px
		font-size 21px
		font-weight 400

		color #ffffff
		background-color main-theme
		border-radius 50%

		^[0]_enabled:hover &
			background-color main-theme-hover

		^[0]_enabled^[0]_selected &
			background-color main-theme-selected

		^[0]_enabled^[0]_selected_hover &
			background-color main-theme-selected-hover

		^[0]_disabled &
			background-color disabled-theme

		span
			font-size 42px

	&:before
		position absolute
		z-index -1
		top 0
		left 0
		width 100%
		height 100%
		content ''
		transform scale(1.020, 1.015)
		background-image linear-gradient(135deg, transparent 5%, main-theme 0)
		border-radius 0 10px 10px 10px

		^[0]_enabled^[0]:hover:before
			background-image linear-gradient(135deg, transparent 5%, main-theme-hover 0)

		^[0]_enabled^[0]_selected&
			background-image linear-gradient(135deg, transparent 5%, main-theme-selected 0)

		^[0]_enabled^[0]_selected_hover&
			background-image linear-gradient(135deg, transparent 5%, main-theme-selected-hover 0)

		^[0]_disabled&
			background-image linear-gradient(135deg, transparent 5%, disabled-theme 0)

